@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: Steven Thompson & Travis A
   Date:   November 26, 2018

   Filename:         mi_tables.css

*/

/* Table Styles */



/* Column Styles */



/* Table Header Styles */











