@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Josh, Dylan
   Date: 11/20/18

   Filename:         dlr_columns2.css

*/



/* Column Styles */
