/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Zac F and Lane D
   Date:  11/28/18

   Filename:         hcc_styles.css
   Supporting files:

*/

/* Main styles */

html {
  background: rgb(128, 0, 0);
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-image: url(background.jpg);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid rgb(3, 51, 86);
   border-right: 1px solid rgb(3, 51, 86);
   min-height: 100%;
   margin: 0px auto;
   min-width: 320px;
   max-width: 1024px;
   width: 100%;
}

footer {
  text-align: center;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(207,181,59));
  color: white;
}



/* Link Styles */

footer a {
  color: white;
  text-decoration: none;
}

header nav ul {
   width: 100%;
}

a#main {
  text-decoration: none;
  color: black;
  display: in-inline-block;
  padding: 5px 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

a#main:hover {
  color: rgb(102, 0, 0);
}

nav ul li  {
  list-style-type: none;
}
