/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Cameron Odom & Brett 
   Date: November 29, 2018

   Filename:         hcc_styles.css
   Supporting files: 

*/

/*HTML styles*/

html{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	background-color:#a08578;
}

body{
	background-color:white;
}

header{
	background-color:brown;
	height:200px;
	padding:5px;
}
header nav{
width:100%;
margin-left:auto;
margin-right:auto;
}
header nav ul{
	background-color:black;
	width:97.7%;
	display:block;
	text-align:center;
	text-decoration:none;
	list-style-type:none;
	margin-left:-5px;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:0px;
	padding-top:11.5px;
	padding-bottom:11.5px;
}
header nav ul li{
width:12%;
display:inline;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}
h1{
	font-size:4em;
	color: orange;
}

article{
	padding:10px;
	font-size:20px;
	margin-left:15%;
	color:red;
}
a{
	text-decoration:none;
	color:gold;
}
a#navicon{
	display:none;

}
@media only screen and (max-width: 640px){
header nav ul{
	display:none;
}

a#navicon{
	display:block;
}

a#navicon:hover+ul, nav ul:hover{
	display:block;
}
h1{
font-size:3em;
}

header nav ul li{
	display:block;
}
body{
	margin:0px;