@charset "utf-8";
/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
      Author: Lauren and Kenaz
      Date:   11-28-18

   Filename:         hcc_styles.css
   Supporting files: 

*/

/* Body Styles*/
body {
	background-image: url(stream_img.jpg);
	background-size: cover;
	min-height: 100%;   
    margin: 0px auto;
    min-width: 400px;
    max-width: 1024px;   
    width: 100%; 
}
/* Nav Styles*/
header {
	font-family: "Comic Sans MS", cursive, sans-serif;
	display: block;
	width: 100%
}
nav.horizontal ul {
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
nav.horizontal ul li {
   font-size: 0.8em;   
   float: left;
   text-align: center;
}
nav.horizontal ul li a {
   color: black;
   display: block;
   padding: 5px 20px;
   width: 100%;
   text-decoration: none;
   background-color: yellow;
}

/* Section Styles*/

section {
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-image: url(stream_img.jpg);
	background-size: 340px 191px;
	text-align: center;
}

pre {
	text-align: center;
	background-image: url("GOD.jpeg");
	color: white;
	font-weight: bold;
}

/* Footer Styles */






